button{
    font-size: 16px;
    width: 100px;
    margin: 10px;
    color: white;
    padding: 15px;
    border-color:black;
    border-radius: 30px;
    border-width: 5px;
}
.counterButton{
    
    background-color: #00a5ab;
   
}

.resetButton{
    
    background-color: #1f0808;
   
}
.decrementButton{
   
    background-color: #00a5ab;
   
}

.count{
    font-size: 150px;
    padding: 20px ;
}